[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/mnt/Desktop/plungin_MW]
row=7
col=0

[/mnt/Desktop/Actividad 03 DIBII.pdf]
row=1
col=1

[/mnt/Desktop/PortWINE_ App para ejecutar juegos de Windows en Linux _ Desde Linux_files]
row=4
col=2

[/mnt/Desktop/aaaaaaaaaa.txt]
row=6
col=2

[/mnt/Desktop/comercio]
row=5
col=0

[/mnt/Desktop/CronogramaCENEAC2.pdf]
row=6
col=1

[/mnt/Desktop/814]
row=9
col=0

[/mnt/Desktop/consejos.txt]
row=2
col=2

[/mnt/Desktop/Actividad 03 DIB.pdf]
row=2
col=1

[/mnt/Desktop/SERVIDORES.txt]
row=3
col=0

[/mnt/Desktop/guia_procedimientos.pdf]
row=7
col=1

[/mnt/Desktop/info linux]
row=4
col=1

[/mnt/Desktop/LIKEDIN TRABAJOS.txt]
row=9
col=1

[/mnt/Desktop/PortWINE_ App para ejecutar juegos de Windows en Linux _ Desde Linux.html]
row=3
col=2

[/mnt/Desktop/Actividad 03 DIBMAQ.pdf]
row=0
col=1

[/mnt/Desktop/ejercicios.txt]
row=8
col=1

[/mnt/Desktop/install.txt]
row=3
col=1

[/mnt/Desktop/intro al hackE.xspf]
row=6
col=0

[/mnt/Desktop/VOZ]
row=7
col=2

[/mnt/Desktop/RUBIK 3x3 Principiante.pdf]
row=1
col=2

[/mnt/Desktop/jdonw.txt]
row=0
col=2

[/mnt/Desktop/top-gun-1986.pdf]
row=5
col=2

[/mnt/Desktop/tp]
row=8
col=0

[/mnt/Desktop/Tecnico Hardware desde Cero.pdf]
row=4
col=0

[/mnt/Desktop/MICROCONTROLADORES PIC16F877A Y PIC16F887.pdf]
row=5
col=1

[Trash]
row=2
col=0

[/]
row=1
col=0

[/home/admin]
row=0
col=0

