[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[68CAD17FCAD14A48]
row=2
col=0

[735E469B2413E888]
row=0
col=0

[CCBA2C12BA2BF79A]
row=1
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/admin]
row=5
col=0

